<div class="flex relative mr-8">
  <div class="w-full"> 
    <!-- Configuration Icon -->
    <button *ngIf="weatherData" (click)="refreshWeather()" class="absolute right-8 rounded-full bg-background-primary hover:bg-gray-300 focus:outline-none z-10">
      <svg class="h-6 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"/>
      </svg>
    </button>
    <button (click)="toggleOptions()" class="absolute right-0 rounded-full bg-background-primary hover:bg-gray-300 focus:outline-none z-10">
      <svg class="h-6 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
      </svg>
    </button>

    <!-- Options Popover -->
    <div *ngIf="showOptions" class="absolute top-8 right-2 z-20">
      <app-options
        [initialCity]="city"
        [initialApiKey]="apiKey"
        (optionsSubmitted)="onOptionsSubmitted($event)"
        (closeOptions)="toggleOptions()"
      ></app-options>
    </div>

    <!-- Default "Configure Weather" text -->
    <div *ngIf="!weatherData && !showOptions" class="p-4 bg-white shadow-md rounded-lg text-center text-gray-600">
      <p class="text-lg font-semibold">Configure Weather</p>
      <p class="text-sm mt-2">Click the settings icon to enter your city and API key.</p>
    </div>

    <div *ngIf="isLoading" class="mt-8 p-4 bg-white shadow-md rounded-lg text-center text-gray-600">
      Loading weather data...
    </div>

    <div *ngIf="error" class="mt-8 p-4 bg-red-100 border border-red-400 text-red-700 rounded-lg">
      {{ error }}
    </div>

    <div *ngIf="weatherData" [class]="weatherService.getWeatherGradientClass(weatherData.data.values.weatherCode)" class="p-6 rounded-lg shadow-xl min-w-100">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-3xl font-bold">{{ city | titlecase }}</h2>
        <span class="text-lg"><span class="text-sm text-secondary">Last updated on -</span> {{ weatherData.data.time | date:'shortTime' }}</span>
      </div>

      <p class="text-xl mb-4">{{ weatherService.getWeatherDescription(weatherData.data.values.weatherCode) }}</p>

      <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
          <img [src]="weatherService.getWeatherIconPath(weatherData.data.values.weatherCode)" alt="Weather Icon" class="w-16 h-16 mr-4">
          <div>
            <p class="text-5xl font-extrabold">{{ weatherData.data.values.temperature | number:'1.0-0' }}°C</p>
            <p class="text-lg">Feels like {{ weatherData.data.values.temperatureApparent | number:'1.0-0' }}°C</p>
          </div>
        </div>
        <div class="text-right">
          <p class="text-xl font-semibold truncate max-w-[250px] overflow-hidden" [title]="weatherData.location.name">{{ weatherData.location.name }}</p>
          <p class="text-sm">Humidity: {{ weatherData.data.values.humidity }}%</p>
          <p class="text-sm">Wind: {{ weatherData.data.values.windSpeed }} m/s</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 text-sm">
        <div>
          <p><span class="font-semibold">Cloud Cover:</span> {{ weatherData.data.values.cloudCover }}%</p>
          <p><span class="font-semibold">Visibility:</span> {{ weatherData.data.values.visibility }} km</p>
        </div>
        <div class="text-right">
          <p><span class="font-semibold">UV Index:</span> {{ weatherData.data.values.uvIndex }}</p>
          <p><span class="font-semibold">Pressure:</span> {{ weatherData.data.values.pressureSurfaceLevel }} hPa</p>
        </div>
      </div>
    </div>
  </div>
</div>
